#icon{
	display:inline-block;
	float: center;
} 

#logo{
	width: 120%;
    width: 330px;
    height: 180px;
    margin-bottom: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right:90px;
}
body {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../pics/Store/2.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
h1,
h2 {
  font-family: 'Arapey';
  font-style: italic;
  font-weight: 200;
}

h1 {
  margin-top: 90px;
  text-align: center;
  font-size: 40px;
  color: #242424;
  font-weight:400;
}

h2 {
  font-size: 20px;
}
h2:before, h2:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.75em;
  height: 0.03em;
  background: #f0ad4e;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
}

/*ensures that all elements are border-box*/
* {
    box-sizing: border-box;
}



.centerPattern{
	display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pattern{
	color: #CDCDCD;
	position: relative;
    display: inline-block;
     border-radius: 5px;
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
}

.pattern .patternBackground{
 /*   box-sizing: border-box;*/
 /*   position: relative;*/
	/*background: rgba(255, 255, 255, .5); */
 /*   padding: 50px 80px;*/
 /*   padding-top: 10px;*/
    height: 100%;
    width: 100%;

}


.imgContainer{
    position: relative;
    font-family: Arial;
    font-size: 15px;
}

.text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f0ad4e;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:10px;
    padding-bottom: 10px;
}


.patternBackground p{
    color: #1F1E1E;
    font-size: 12px;
}


.row{
    position: relative;
    top: 20px;
}

.btn-primary {
    background-color:#f89797;
}


.btn-primary:focus, .btn-primary:hover {
    background-color:#9e5f5f;
    background-position: 0 -15px;
}
.thumbnail {
    background-color: rgba(255,255,255,.15);

}

.thumbnail img {
    border: 0px solid #1F1E1E;
}

.thumbnail img:hover {
   opacity: 0.8;
}


/*footer style*/
footer{
    background-color:#222222;
    height:100%;
    position:relative;
    width:100%;
    font-weight:lighter;
    color:white;

}
.footerHeader{
    width:100%;
    padding:1em;
    background-color:#2C3E50;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}

#map {
    width:200px;
    height: 100px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
} 
.sm li a img {
    width:32px;
}

.center-footer{
    display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.pattern-fotter{
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100%;
    margin-bottom: 40px;
    
}
.img-footer{
     width: 30px;
    height: 30px;
    margin-top: 10px;
    position: relative;
}

.mySlides {
display: none;
    position: relative;
    margin-top: -9px;
 border: 0px solid #1F1E1E;
    
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
    border: 0px solid #1F1E1E;
    
}

/* Position the "next button" to the right */
.next {
  right: -80px;
  border-radius: 3px 0 0 3px;
}
.prev{
    left:-80px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  width: 100%;
  text-align: center;
     border: 0px solid #1F1E1E;
    position: relative;
    display: inline-block;
    top:20px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
    display: inline-block;
  font-size: 12px;
  top:10px;
  position: relative;
     border: 0px solid #1F1E1E;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top:0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    margin-bottom: 0;
    
    
}
.dots{
    text-align:center;
    border: 0px solid #1F1E1E;
    top:10px;
    display: inline-block;
}
        

.active, .dot:hover {
  background-color: #717171;
}

div#myNavbar.collapse.navbar-collapse{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*/phone/*/
@media only screen and (max-width:483px){
        
    .text-block {
    position: absolute;
    bottom: 5px;
    right: 0px;
    background-color: #f0ad4e;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 10px;
}
    }
    
}
